<div class="card" dir="rtl">
    <div class="w-full flex justify-between items-center mb-4">
        <h1 class="flex items-center text-primary gap-2">
            الاخبار
            <span class="text-3xl">
                ({{ newsLength | arabicNumerals }})
            </span>
        </h1>
    </div>
    <div class="w-full flex flex-row justify-between items-center mb-4">
        <div class="w-full flex flex-row justify-start items-center">
            <input id="fileInput" #fileInput type="file" (change)="onImportFile($event)" style="display: none" />
            <p-button label="ارسال" icon="pi pi-download" severity="secondary" (onClick)="fileInput.click()" />
            <p-button class="ms-6" label="تصدير" icon="pi pi-upload" severity="secondary" (onClick)="onExportData()" />
        </div>
        <ng-container>
            <button class="hidden" #pButton routerLink="/news/add-news">Add news</button>
            <p-button label="اضافة خبر" icon="pi pi-plus" severity="secondary" class="min-w-max" (onClick)="pButton.click()" />
        </ng-container>
    </div>
    <p-table
        #dt1
        [value]="news"
        [lazy]="true"
        (onLazyLoad)="onPageChange($event)"
        [paginator]="true"
        [rows]="params.count"
        [totalRecords]="NewsMeta.total"
        [rowsPerPageOptions]="[10, 20, 30]"
        [loading]="loading"
        [first]="first"
        [alwaysShowPaginator]="true"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row w-full" dir="ltr">
                <button pButton label="حذف الكل" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <p-iconfield iconPosition="left" class="ml-auto" dir="rtl">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="ابحث بالاسم" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th class="text-center" style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        الفهرس
                    </div>
                </th>
                <th class="text-center" style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        الملصق
                    </div>
                </th>
                <th class="text-center" style="min-width: 14rem">
                    <div class="flex justify-between items-center">
                        العنوان
                    </div>
                </th>
                <th class="text-center" style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        الوصف
                    </div>
                </th>
                <th class="text-center" style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        تاريخ النشر
                    </div>
                </th>
                <th class="text-center" style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        تاريخ اخر تعديل
                    </div>
                </th>
                <th class="text-center" style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        العمليات
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-news>
            <tr>
                <td>
                    {{ news.id }}
                </td>
                <td>
                    <div class="flex items-center justify-center w-full">
                        <img [src]="news.image_path" width="70" />
                    </div>
                </td>
                <td>
                    {{ news.title }}
                </td>
                <td>
                    {{ news.description | truncate: 150 }}
                </td>
                <td>
                    {{ news.created_at | date: 'mediumDate' | dateToArabic }}
                </td>
                <td>
                    {{ news.updated_at | date: 'mediumDate' | dateToArabic }}
                </td>
                <td>
                    <div class="flex items-center justify-start gap-3">
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editNews(news)"/>
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteNews(news)"/>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">
                    لا يوجد اخبار
                </td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">
                    يتم تحميل الاخبار برجاء الانتظار ......
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmdialog [style]="{ width: '35vw', direction: 'rtl' }" />